@font-face {
   font-family: "Oswald";
   src: url("../assets/fonts/Oswald/Oswald-VariableFont_wght.ttf");
  }

@font-face {
   font-family: "PlayfairDisplay";
   src: url("../assets/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf");
}

@font-face {
   font-family: "PlayfairDisplay";
   font-style: italic;
   src: url("../assets/fonts/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf");
}

* {
   box-sizing: border-box;
}

body,
header,
main,
footer,
.container,
.section {
   margin: 0;
   padding: 0;
}

body {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   min-height: 100vh;
}

.container {
   max-width: 1440px;
   margin: 0 auto;
}

.nav-list {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   padding: 0;
   margin: 0;
   list-style: none;
   font-family: "Oswald", sans-serif;
   font-size: 20px;
}

html {
   scroll-behavior: smooth;
}

.nav-link {
   padding: 0 20px;
   line-height: 50px;
   text-decoration: none;
   color: #B4FEBB;
   transition: color 0.3s;
}

.nav-link:hover {
   color: #FF6B6E;
}

.nav {
   background-color: #025508;
}

.main-container {
   display: flex;
   flex-wrap: wrap;
}

.section {
   width: 50%;
}

@media (max-width: 768px) {
   .section {
      width: 100%;
   }
}

.footer-container {
   background-color: #025508;
   font-family: "Oswald", sans-serif;
   font-size: 20px;
   color: #B4FEBB;
}

.footer-list {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0;
   margin: 0;
   list-style: none;
}

.footer-item {
   padding: 0 20px;
   line-height: 50px;
}

.footer-link {
   text-decoration: none;
   color: #B4FEBB;
   transition: color 0.3s;
}

.footer-link:hover {
   color: #FF6B6E;
}

.footer-image {
   width: 121px;
   height: 45px;
}

.section-profile {
   display: flex;
   justify-content: space-around;
   width: 100%;
   padding: 50px 30px 35px;
   border-bottom: 20px solid #025508;
}

.image-wrapper {
   position: relative;
   overflow: hidden;
   width: 200px;
   height: 200px;
   border-radius: 50%;
}

.profile-photo {
   position: absolute;
   left: -35%;
   top: -15%;
   width: 600px;
}

.profile-title {
   margin: 0;
   padding: 0;
   text-align: center;
   font-family: "Oswald";
   color: #025508;
}

.title-wrapper {
   display: flex;
   align-items: center;
   justify-content: center;
}